<a href="/">Home</a>
<form action="/login/123" method="POST">
    <label for="email">Email:</label>
    <input type="text" name="email" placeholder="email" />
    <label for="password">Passwor:</label>
    <input type="text" name="password" placeholder="password" />
    <input type="submit" value="Login">
</form>
